button {
    border: 1px solid black;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-right: 2px;
    width: 50px;
    height: 50px;
    font-size: 26pt;
    color: #000;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}

button:hover {
    background: #5e5e5e linear-gradient(#656565, #393939);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}

button:active {
    background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}

button:nth-child(3n-1) {
    margin-right: 7px;
}
