.corrupted {
    background-color: red;
    color: white;
}

.selected-empty {
    background-color: #b6b6b6;
}

.selected {
    background-color: #b6b6b6;
    color: #008b00;
}

.empty:hover {
    background-color: #d7d7d7;
}

.assigned {
    color: #008b00;
}

.predetermined {
    font-weight: bold;
}
