.corrupted, .selected-corrupted {
    background-color: red;
    color: white;
}

.selected-empty {
    background-color: #b6b6b6;
}

.empty:hover {
    background-color: #d7d7d7;
}

.assigned {
    color: #008b00;
}

.predetermined {
    color: black;
}

.mini-grid {
}

.mini-grid-row {
    display: flex;
    flex-direction: row;
}

.mini-grid-cell {

}

.mini-grid .mini-grid-row .mini-grid-cell {
    min-width: 1px;
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.assigned-cell {
    font-size: 30pt;
}