.grid-container {
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-row:nth-child(3n) {
    margin-bottom: 7px;
}

.grid-container .grid-row .grid-cell {
    min-width: 50px;
    margin: 1px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
}

.grid-container .grid-row .grid-cell:nth-child(3n) {
    margin-right: 7px;
}
