.grid-container {
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-row:nth-child(3n) {
    margin-bottom: 7px;
}

.grid-container .grid-row .grid-cell {
    min-width: 38px;
    min-height: 38px;
    margin: 1px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container .grid-row .grid-cell:nth-child(3n) {
    margin-right: 7px;
}
