.wrapper {
    width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.wrapper div {
    margin: 0;
}

.win {
    text-align: center;
    color: #880000;
    font-size: 64pt;
}

.fail {
    text-align: center;
    color: #5e5e5e;
    font-size: 60pt;
}
