.wrapper {
    width: 650px;
    margin: 0 auto;
    padding: 10px;
}

.wrapper div {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    gap: 2px 2px;
    grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";
}

.grid-container div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
}